# Python virtual environment
venv/

# Byte-compiled files
__pycache__/
*.pyc

# Environment variables and configuration files (if any)
.env

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

